#activity-display {
    width: max-content;
    height: max-content;
    background-color: var(--background-color);
    user-select: none;
}

#activity-main {
    width: 284px;
    height: 72px;
    display: flex;
    flex-direction: row;
}

#activity-assets {
    position: relative;
    align-self: flex-start;
}

#activity-content {
    width: 214px; /* 284px main - 60px assets - 10px margin */
    height: 100%;
    margin-left: 10px;
}

#activity-progress-bar {
    margin-top: 12px;
}