.button {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 20px;
    user-select: none;
    background-color: var(--grey);
    color: white;
}

.button:hover:not(:disabled) {
    background-color: var(--grey-hover);
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-grey {
    background-color: var(--grey);
}

.button-grey:hover:not(:disabled) {
    background-color: var(--grey-hover);
}

.button-blurple {
    background-color: var(--blurple);
}

.button-blurple:hover:not(:disabled) {
    background-color: var(--blurple-hover);
}

.button-green {
    background-color: var(--green);
}

.button-green:hover:not(:disabled) {
    background-color: var(--green-hover);
}

.button-red {
    background-color: var(--red);
}

.button-red:hover:not(:disabled) {
    background-color: var(--red-hover);
}

.button-yellow {
    background-color: var(--yellow);
}

.button-yellow:hover:not(:disabled) {
    background-color: var(--yellow-hover);
}

.button-transparent {
    background-color: transparent;
}

.button-transparent:hover:not(:disabled) {
    background-color: transparent;
}