.button {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 20px;
    user-select: none;
    background-color: var(--grey);
    color: white;
}

.button:hover:not(:disabled) {
    background-color: var(--grey-hover);
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}