#edit-form>.edit-section:not(:first-child) {
    margin-top: 12px;
}

#edit-form .edit-item {
    width: 100%;
    margin-top: 8px;
}

.edit-title {
    color: var(--light-grey);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    user-select: none;
}

.edit-title-flex {
    display: flex;
    color: var(--light-grey);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    user-select: none;
}

.edit-errors {
    padding-top: 2px;
}

#edit-controls {
    margin-top: 12px;
}

#edit-controls>button {
    width: 100%;
}

#edit-done {
    background-color: var(--blurple) !important;
}

#edit-done:hover:not(:disabled) {
    background-color: var(--blurple-hover) !important;
}