#edit-form>.edit-section:not(:first-child) {
    margin-top: 12px;
}

#edit-form .edit-item {
    width: 100%;
    margin-top: 8px;
}

.edit-title {
    display: flex;
    align-items: center;
    color: var(--light-grey);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    user-select: none;
}

.edit-errors {
    padding-top: 2px;
}

#edit-controls {
    display: flex;
    margin-top: 12px;
}

#edit-controls>button {
    width: 100%;
}

#edit-done {
    margin-right: 4px;
}

#edit-cancel {
    margin-left: 4px;
}