#activity-controls {
    display: flex;
    margin-bottom: 12px;
}

#activity-control-start {
    width: 85%;
    margin-right: 4px;
}

#activity-control-stop {
    width: 85%;
    margin-right: 4px;
}

#activity-control-edit {
    width: 15%;
    margin-left: 4px;
}

#activity-control-edit>span {
    transform: scale(-1, 1);
}

#activity-control-done {
    width: 100%;
}