#activity-controls {
    margin-top: 12px;
}

#activity-controls button {
    width: 100%;
}

#activity-controls>button:not(:first-child) {
    margin-top: 8px;
}

#activity-control-start {
    background-color: var(--green) !important;
}

#activity-control-start:hover {
    background-color: var(--green-hover) !important;
}

#activity-control-stop {
    background-color: var(--red) !important;
}

#activity-control-stop:hover {
    background-color: var(--red-hover) !important;
}

#activity-control-edit {
    background-color: var(--blurple) !important;
}

#activity-control-edit:hover {
    background-color: var(--blurple-hover) !important;
}

#activity-control-done {
    background-color: var(--blurple) !important;
}

#activity-control-done:hover {
    background-color: var(--blurple-hover) !important;
}