#edit-client-id,
#edit-client-secret {
    width: 100%;
}

#edit-client-secret-icon {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 6px;
    border: 1px solid var(--light-grey);
    border-radius: 50%;
    background-color: var(--dark-grey);
}

#edit-client-secret-icon::before {
    content: "?";
    position: relative;
    left: -0.5px;
    color: var(--light-grey);
    font-size: 10px;
    line-height: 12px;
    text-transform: lowercase;
}

#edit-client-secret-icon:hover #edit-client-secret-tooltip {
    opacity: 1;
    scale: 1;
}

#edit-client-secret-tooltip {
    text-transform: none;
}