#edit-client-id,
#edit-client-secret {
    width: 100%;
}

#edit-client-secret-icon {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 6px;
    border: 1px solid var(--light-grey);
    border-radius: 50%;
    background-color: var(--dark-grey);
}

#edit-client-secret-icon::before {
    content: "?";
    position: relative;
    left: -0.5px;
    color: var(--light-grey);
    font-size: 10px;
    line-height: 12px;
    text-transform: lowercase;
}

#edit-client-secret-icon:hover #edit-client-secret-tooltip {
    opacity: 1;
    scale: 1;
}

#edit-client-secret-tooltip {
    text-transform: none;
}

#edit-client-controls {
    display: flex;
}

#edit-client-validation {
    width: 85%;
    margin-right: 4px;
    background-color: var(--yellow) !important;
}

#edit-client-validation:hover {
    background-color: var(--yellow-hover) !important;
}

#edit-client-validation-valid {
    width: 85%;
    margin-right: 4px;
    background-color: var(--green) !important;
}

#edit-client-validation-invalid {
    width: 85%;
    margin-right: 4px;
    background-color: var(--red) !important;
}

#edit-reset-client {
    width: 15%;
    margin-left: 4px;
    background-color: var(--red) !important;
}

#edit-reset-client:hover {
    background-color: var(--red-hover) !important;
}