#edit-client-id {
    width: 100%;
}

#edit-client-controls {
    display: flex;
}

#edit-client-validation {
    width: 80%;
    margin-right: 4px;
}

#edit-client-validation-valid {
    width: 80%;
    margin-right: 4px;
}

#edit-client-validation-valid:hover {
    background-color: var(--green) !important;
    cursor: default !important;
}

#edit-client-validation-invalid {
    width: 80%;
    margin-right: 4px;
}

#edit-client-validation-invalid:hover {
    background-color: var(--red) !important;
    cursor: default !important;
}

#edit-reset-client {
    width: 20%;
    margin-left: 4px;
}