:root {
    --title-bar-height: 30px;
}

#title-bar {
    width: 100%;
    height: var(--title-bar-height);
    display: flex;
    padding: 0 1px;
}

#title-bar-banner {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
}

#title-bar-buttons {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.title-bar-button {
    width: var(--title-bar-height);
    height: var(--title-bar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    user-select: none;
    -webkit-app-region: nodrag;
}

#title-bar-button-start {
    color: #ff0000;
}

#title-bar-button-stop {
    color: #00ff00;
}

#title-bar-button-close:hover~#title-bar-button-label::before {
    content: "Close";
}

#title-bar-button-minimize:hover~#title-bar-button-label::before {
    content: "Minimize";
}

#title-bar-button-help:hover~#title-bar-button-label::before {
    content: "Help";
}

#title-bar-button-start:hover~#title-bar-button-label::before {
    content: "Start activity";
}

#title-bar-button-stop:hover~#title-bar-button-label::before {
    content: "Stop activity";
}

.title-bar-button:hover {
    background-color: #080808;
}

.title-bar-button:hover~#title-bar-button-label {
    display: flex;
}

#title-bar-button-label {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 2px 6px;
    font-size: 10px;
    font-style: italic;
    color: white;
    background-color: #080808;
}