:root {
    --background-color: black;
}

#activity-preview {
    width: max-content;
    height: max-content;
    padding: 12px;
    background-color: var(--background-color);
    border-radius: 8px;
    user-select: none;
}

#activity-main {
    width: 284px;
    height: 72px;
    display: flex;
    flex-direction: row;
}

#activity-assets {
    position: relative;
    align-self: flex-start;
}

#activity-asset-large {
    position: relative;
}

#activity-asset-large:hover #activity-asset-large-tooltip {
    opacity: 1;
    scale: 1;
}

#activity-asset-large-image {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 8px;
    object-fit: cover;
    -webkit-user-drag: none;
}

#activity-asset-small {
    position: relative;
}

#activity-asset-small:hover #activity-asset-small-tooltip {
    opacity: 1;
    scale: 1;
}

#activity-asset-small-image {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -4px;
    right: -4px;
    outline: 2px solid var(--background-color);
    border-radius: 50%;
    -webkit-user-drag: none;
}

#activity-asset-large-tooltip {
    top: -38px;
    left: 1px;
}

#activity-asset-small-tooltip {
    top: -54px;
    left: 25px;
}

.activity-asset-tooltip {
    position: absolute;
    opacity: 0;
    scale: 0.97;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 4px 12px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 14px;
    transition: 0.011s opacity linear, 0.01s scale linear;
    pointer-events: none;
}

.activity-asset-tooltip::after {
    content: "";
    position: absolute;
    bottom: -5px;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

#activity-content {
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

#activity-title {
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

#activity-details {
    color: white;
    font-size: 14px;
    line-height: 18px;
}

#activity-state {
    color: white;
    font-size: 14px;
    line-height: 18px;
}

#activity-timestamp {
    color: white;
    font-size: 14px;
    line-height: 18px;
}

#activity-timebar {
    margin-top: 12px;
}

#activity-timebar-bar {
    height: 4px;
    margin-bottom: 4px;
    border-radius: 2px;
    background-color: #080808;
}

#activity-timebar-bar-inner {
    min-width: 4px;
    max-width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: white;
}

#activity-timebar-time {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

#activity-timebar-time-current {
    flex: 1 1 auto;
}

#activity-timebar-time-max {
    flex: 0 1 auto;
}

.activity-timebar-time-number {
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}

#activity-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 12px;
}

#activity-buttons>:not(:first-child) {
    margin-top: 8px;
}

.activity-button {
    height: 32px;
    min-height: 32px;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    background-color: #555555;
    color: #f6f6f6;
    transition: opacity 0.2s ease-in-out;
}

.activity-button:hover {
    cursor: pointer;
    opacity: 0.8;
}