:root {
    --background-color: #1a1a1a;
}

#main {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 1px solid white;
    border-radius: 8px;
}

#container {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 12px 12px 12px;
}