:root {
    --background-color: #1a1a1a;
    --blurple: #5865f2;
    --blurple-hover: #4752c4;
    --green: #05af55;
    --green-hover: #059e4d;
    --red: #da373c;
    --red-hover: #a12828;
    --grey: #555555;
    --grey-hover: #4d4d4d;
}

#main {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 1px solid white;
    border-radius: 8px;
}

#activity-display-container {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 12px;
}