#activity-errors {
    width: 100%;
    user-select: none;
}

.activity-error {
    color: var(--red);
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
}

.activity-error-property {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}